.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
	.img {
		img {
			width: 80px;
			height: 80px;
		}
	}
	.text {
		h2 {
			font-size: 40px;
			font-weight: 700;
		}
		p {
			margin-top: 12px;
			font-size: 18px;
			font-weight: 400;
			color: rgb(119, 119, 119);
		}
	}
}
